In [58]:
url = "https://api.alternative.me/fng/?limit=0&date_format=world"

In [59]:
import requests
response = requests.get(url).json()

In [60]:
import pandas as pd
btc_sentiment_new = pd.DataFrame(response['data'])
btc_sentiment_new.head()

  time_until_update   timestamp value value_classification
0       -1621671085  23-05-2021    14         Extreme Fear
1               NaN  22-05-2021    12         Extreme Fear
2               NaN  21-05-2021    19         Extreme Fear
3               NaN  20-05-2021    11         Extreme Fear
4               NaN  19-05-2021    23         Extreme Fear

In [61]:
btc_sentiment_new.shape

(1205, 4)

In [62]:
btc_sentiment_new = btc_sentiment_new.drop(columns="time_until_update")
btc_sentiment_new.head()

    timestamp value value_classification
0  23-05-2021    14         Extreme Fear
1  22-05-2021    12         Extreme Fear
2  21-05-2021    19         Extreme Fear
3  20-05-2021    11         Extreme Fear
4  19-05-2021    23         Extreme Fear

In [63]:
btc_sentiment_new.columns = ['date', 'fng_value', 'fng_classification']
btc_sentiment_new.head()

         date fng_value fng_classification
0  23-05-2021        14       Extreme Fear
1  22-05-2021        12       Extreme Fear
2  21-05-2021        19       Extreme Fear
3  20-05-2021        11       Extreme Fear
4  19-05-2021        23       Extreme Fear

In [64]:
btc_sentiment_new.to_csv('btc_sentiment_new.csv', index=False, header=True)